<div class= "container">
  <div class="row">
    <div class="col mt-5">
      <h3 class="border-bottom"><strong>新規会員登録</strong></h3>
    </div>
  </div>
    <div class="row justify-content-center">
      <div class="col mt-3">
        <%= form_with model: @user, url: user_registration_path do |f| %>
        <%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "public/shared/error_messages", resource: resource %>
    <!--  </div>-->
    <!--</div>-->

    <div class="row">
      <h6 class="col-3 ml-1 pr-1">
       <%= f.label :name, "ニックネーム（アーティスト名）" %>
      </h6>
      <div class="col-5 mr-1">
       <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "総長ぞうさん（爆走像さんバンド）", class: "form-control"  %>
      </div>
    </div><br />

    <div class="row">
      <h5 class="col-3 ml-1 pr-1">
        <%= f.label :アーティストですか？ %>
      </h5>
      <div class="col-5 mr-1">

        <%= f.radio_button :status, User.statuses.key(0) %>
        <%= f.label :status_artist, User.statuses_i18n[:artist] %>

        <%= f.radio_button :status, User.statuses.key(1) %>
        <%= f.label :status_listener, User.statuses_i18n[:listener]%>

        <%#= f.radio_button :status, "artist" %>
        <%#= f.label :status_artist, "アーティスト" %>

        <%#= f.radio_button :status, "listener" %>
        <%#= f.label :status_listener, "リスナー" %>
      </div>
    </div>

    <div class="row">
      <h6 class="col-3 ml-1 pr-1">
       <%= f.label :introduction, "自己紹介文" %>
      </h6>
      <div class="col-5 mr-1">
       <%= f.text_field :introduction, autofocus: true, autocomplete: "introduction", placeholder: "2015年からシンガーソングライターとして活動しています。よろしく！", class: "form-control"  %>
      </div>
    </div><br />

     <div class="row">
        <h5 class="col-3 ml-1 pr-1">
        <label for="inputImage">プロフィール画像</label><br />
        </h5>
        <div class="col-5 md-1">
          <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
        </div>
      </div><br />



      <div class="row">
        <h5 class="col-3 ml-1 pr-1">
        <%= f.label :email %><br />
        </h5>
        <div class="col-5 md-1">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "abc@email.com", class: "form-control" %>
        </div>
      </div><br />

    <div class="row mb-4">
      <h5 class="col-3 ml-1 pr-1">
      <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
      </h5>
      <div class="col-5 md-1">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>

    <div class="row mb-4">
      <h5 class="col-3 ml-1 pr-1">
        <%= f.label :password_confirmation, "パスワード確認" %><br />
      </h5>
      <div class="col-5 md-1">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <h5 class="actions mt-2 text-center">
        <%= f.submit "新規登録",class: "button-39" %>
      </h5>
    </div>

        <% end %>

</div>
        </div>
        <%= render "public/shared/links" %>

        </div>
