<div class="container">
  <div style= 'width: 110% ; margin: 0 auto;' class="py-4" >
    <h3 class="border-bottom"><strong><%= @user.name %>さんのいいね一覧</strong></h3>
    <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th>ジャケット画像</th>
        <th>曲名</th>
        <th>楽曲再生</th>
        <th>曲説明</th>
        <th>アーティスト画像</th>
        <th>アーティスト名</th>
      </tr>
    </thead>
    <tbody>
       <% @favorite_posts.each do |post|%>
      <tr>
        <td>
          <%= link_to post_path(post.id) do %>
          <!--画像の幅自体は「w-25」で決定-->
            <%= image_tag post.get_image(150,150), class:"card-img-top w-100 "; %>
          <% end %>
        </td>
        <td><%= post.name %></td>
        <td>
          <%= audio_tag(polymorphic_path(post.music), volume: 0.5, controls: true, id: "audio_#{post.id}") %>
        </td>
        
         <script>
              // document.addEventListener('DOMContentLoaded', function() {
              //   var audio = document.getElementById("audio_<%#= post.id %>"); // 音声要素を取得
              //   audio.volume = 0.5; // ボリュームを半分に設定
              // });
              $(document).on('turbolinks:load', function() {
                // window.addEventListener('load', function() {
                  var audio = document.getElementById("audio_<%= post.id %>"); // 音声要素を取得
                  audio.volume = 0.5; // ボリュームを半分に設定
                // });
              });
          </script>
          
        <td><%= post.caption %></td>
        <td>
          <%= link_to(user_path(post.user.id), class:"text-dark") do %>
          <%= image_tag post.user.get_profile_image(80,80), class:"mt-1 rounded-circle"; %>
          <% end %>
        </td>
        <td><%= post.user.name %></td>
      </tr>
        <% end %>
    </tbody>
    </table>
  </div>

  <div class="outer">
    <div class="inner">
      <%= paginate @posts %>
    </div>
  </div>
 </div>